server:
  addrs:
    - http: 0.0.0.0:40772

epg:
  cache-dir: /data/epg

# EPG 更新は既定では 08:21 と 20:21 の1日2回だけ。初回起動時にも一括収集が
# 走るが、全チャンネルを順番に回るため全域が埋まるまで40分ほどかかる。
# ここでは10分ごとに差分更新する。収集できない局があっても次の回で拾われる。
jobs:
  update-schedules:
    schedule: "0 */10 * * * * *"
    # timeout は既定 10m（1チャンネルあたりの制限）のまま。

# 録画は EPGStation アドオンが HTTP で引きます。mirakc 側では録りません。

# BS/CS の標準一覧のみをシードします。関東を含む地デジ局は固定シードせず、初回起動時の実測で登録します。
# jobs.scan-services は、ここに記載済みの物理チャンネル内からサービスを見つけます。RFチャンネル自体は探索しません。
# 同梱ラッパーの表記: GR=T13〜T62、BS=奇数トランスポンダをBS01_0のように指定、CS=偶数のCS2〜CS24。
# 表記として有効でも、実際に放送中または受信可能とは限りません。手作業で一覧を整えた後、mirakcが各項目のサービスとEPGをスキャンします。
# https://github.com/mirakc/mirakc/blob/main/docs/config.md#channels

channels:
  - name: ＢＳ朝日１
    type: BS
    channel: BS01_0
  - name: ＢＳ－ＴＢＳ
    type: BS
    channel: BS01_1
  - name: ＢＳテレ東
    type: BS
    channel: BS01_2
  - name: ＷＯＷＯＷプライム
    type: BS
    channel: BS03_0
  - name: ＢＳアニマックス
    type: BS
    channel: BS03_1
  - name: ＢＳ釣りビジョン
    type: BS
    channel: BS03_2
  - name: ＷＯＷＯＷライブ
    type: BS
    channel: BS05_0
  - name: ＷＯＷＯＷシネマ
    type: BS
    channel: BS05_1
  - name: ＢＳ１１イレブン
    type: BS
    channel: BS09_0
  - name: ＢＳ１２トゥエルビ
    type: BS
    channel: BS09_1
  - name: ＢＳ日テレ
    type: BS
    channel: BS13_0
  - name: ＢＳフジ
    type: BS
    channel: BS13_1
  - name: 放送大学テレビ
    type: BS
    channel: BS13_2
  - name: ＮＨＫ ＢＳ
    type: BS
    channel: BS15_0
  - name: ＢＳ１０プレミアム
    type: BS
    channel: BS15_1
  - name: ＢＳ１０
    type: BS
    channel: BS15_2
  - name: Ｊ ＳＰＯＲＴＳ ４
    type: BS
    channel: BS19_0
  - name: Ｊ ＳＰＯＲＴＳ １
    type: BS
    channel: BS19_1
  - name: Ｊ ＳＰＯＲＴＳ ２
    type: BS
    channel: BS19_2
  - name: Ｊ ＳＰＯＲＴＳ ３
    type: BS
    channel: BS19_3
  - name: ＷＯＷＯＷプラス
    type: BS
    channel: BS21_0
  - name: 日本映画専門ｃｈ
    type: BS
    channel: BS21_1
  - name: グリーンチャンネル
    type: BS
    channel: BS21_2
  - name: ディズニーｃｈ
    type: BS
    channel: BS23_0
  - name: ＢＳよしもと
    type: BS
    channel: BS23_1
  - name: Ｊ：ＣＯＭ ＢＳ
    type: BS
    channel: BS23_2
  - name: ＴＢＳチャンネル１
    type: CS
    channel: CS2
  - name: スカイＡ
    type: CS
    channel: CS4
  - name: ホームドラマＣＨ
    type: CS
    channel: CS6
  - name: ショップチャンネル
    type: CS
    channel: CS8
  - name: 衛星劇場
    type: CS
    channel: CS10
  - name: ＧＡＯＲＡ
    type: CS
    channel: CS12
  - name: ザ・シネマ
    type: CS
    channel: CS14
  - name: ＳＫＹ ＳＴＡＧＥ
    type: CS
    channel: CS16
  - name: ムービープラス
    type: CS
    channel: CS18
  - name: フジテレビＯＮＥ
    type: CS
    channel: CS20
  - name: ＱＶＣ
    type: CS
    channel: CS22
  - name: 映画・ｃｈＮＥＣＯ
    type: CS
    channel: CS24

tuners:
  - name: "PX-S1UD #0"
    types:
      - GR
    command: >-
      env PX_S1UD_ADAPTER=0 /usr/local/bin/px-s1ud-stream {{{channel}}}
  - name: "PX-S1UD #1"
    types:
      - GR
    command: >-
      env PX_S1UD_ADAPTER=1 /usr/local/bin/px-s1ud-stream {{{channel}}}
  - name: "PX-Q3U4 #0"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3u4 PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3U4 #1"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3u4 PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3U4 #2"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3u4 PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3U4 #3"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3u4 PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3U4 #4"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3u4 PX4_RECEIVER=4 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3U4 #5"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3u4 PX4_RECEIVER=5 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3U4 #6"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3u4 PX4_RECEIVER=6 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3U4 #7"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3u4 PX4_RECEIVER=7 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE4 #0"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3pe4 PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE4 #1"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3pe4 PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE4 #2"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3pe4 PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE4 #3"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3pe4 PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE4 #4"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3pe4 PX4_RECEIVER=4 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE4 #5"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3pe4 PX4_RECEIVER=5 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE4 #6"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3pe4 PX4_RECEIVER=6 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE4 #7"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3pe4 PX4_RECEIVER=7 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE5 #0"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3pe5 PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE5 #1"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3pe5 PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE5 #2"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3pe5 PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE5 #3"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3pe5 PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE5 #4"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3pe5 PX4_RECEIVER=4 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE5 #5"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_q3pe5 PX4_RECEIVER=5 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE5 #6"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3pe5 PX4_RECEIVER=6 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-Q3PE5 #7"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_q3pe5 PX4_RECEIVER=7 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3U4 #0"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_w3u4 PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3U4 #1"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_w3u4 PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3U4 #2"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_w3u4 PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3U4 #3"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_w3u4 PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3PE4 #0"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_w3pe4 PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3PE4 #1"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_w3pe4 PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3PE4 #2"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_w3pe4 PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3PE4 #3"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_w3pe4 PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3PE5 #0"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_w3pe5 PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3PE5 #1"
    types:
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_w3pe5 PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3PE5 #2"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_w3pe5 PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-W3PE5 #3"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_w3pe5 PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT5PE #0"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt5pe PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT5PE #1"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt5pe PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT5PE #2"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt5pe PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT5PE #3"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt5pe PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT5PE #4"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt5pe PX4_RECEIVER=4 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-5TS-P #0"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_5ts_p PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-5TS-P #1"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_5ts_p PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-5TS-P #2"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_5ts_p PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-5TS-P #3"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_5ts_p PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-5TS-P #4"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_5ts_p PX4_RECEIVER=4 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT8PE3 #0"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt8pe3 PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT8PE3 #1"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt8pe3 PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT8PE3 #2"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt8pe3 PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT8PE5 #0"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt8pe5 PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT8PE5 #1"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt8pe5 PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT8PE5 #2"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt8pe5 PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT8PE5 #3"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt8pe5 PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-MLT8PE5 #4"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_mlt8pe5 PX4_RECEIVER=4 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-4TS-P #0"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_4ts_p PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-4TS-P #1"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_4ts_p PX4_RECEIVER=1 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-4TS-P #2"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_4ts_p PX4_RECEIVER=2 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-4TS-P #3"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_4ts_p PX4_RECEIVER=3 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-M1UR #0"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=px_m1ur PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "PX-S1UR #0"
    types:
      - GR
    command: >-
      env PX4_PROFILE=px_s1ur PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV03A-1TU #0"
    types:
      - GR
    command: >-
      env PX4_PROFILE=dtv03a_1tu PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02-1T1S-U #0"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02_1t1s_u PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}
  - name: "DTV02A-1T1S-U #0"
    types:
      - GR
      - BS
      - CS
    command: >-
      env PX4_PROFILE=dtv02a_1t1s_u PX4_RECEIVER=0 /usr/local/bin/px4-ts-stream {{{channel}}}


# チューナー出力は生TS。復号はジョブ（EPGスキャン）には掛けない。
filters:
  decode-filter:
    command: /usr/bin/recisdb decode --input - -
